.service-container {
  width: 100%;
  background: var(--blue);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.service-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 5vh 5vw;
}

.service-card {
  width: 28vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  margin: 3vh 2vw;
  text-align: center;
  padding: 2vh 2vw;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px #585a82;
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  word-wrap: break-word;
}

.service-card p {
  line-height: 1.4rem;
  margin: 0.6rem;
}

.service-img {
  height: 12rem;
  width: 12rem;
  border-radius: 30%;
  margin: 3vh 0;
}

.charges {
  font-weight: 600;
  font-weight: 1.15rem;
  color: rgb(0, 187, 255);
}

@media screen and (max-width: 900px) {
  .service-content {
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 5vh 5vw;
    padding: 0 5vw;
  }

  .service-card {
    width: 40vw;
    min-height: 70vh;
    margin: 3vh 4vw;
    gap: 3vw;
  }

  .service-img {
    height: 250%;
    width: 80%;
    border-radius: 30%;
    margin: 3vh 0;
  }
}

@media screen and (max-width: 500px) {
  .service-content {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 5vh 5vw;
    padding: 0 5vw;
  }

  .service-card {
    width: 80vw;
    min-height: 70vh;
    margin: 3vh 6vw;
  }
}
