.project-container{
    width: 100%;
    background: var(--blue);
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex; 
    flex-wrap: wrap;
     justify-content: center;
    align-items: center; 
}

.project-card{
    
    width: 30vw;
}

.modal-card{
    background: var(--darkBlue);
}