.contact-container{
border: 1px solid black;
background: rgb(177, 176, 176);
}

.social-handles{
    height: 4rem;
    width: 30vw;
    border: 1px solid blue;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
.social-img{
    height: 3rem;
    width: 3rem;
}