.testimonial-container {
  width: 100%;
  height: auto;
  background: var(--blue);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-content {
  width: 90vw;
  font-size: 1.15rem;
  padding: 5vh 3vw;
  background: var(--blue);
}

.test-card {
  box-sizing: border-box;
  background: var(--blue);
  height: 70vh;
  width: 25vw;
  padding: 2rem;
}

.testimonial-container .test-content .test-card p,
.testimonial-container .test-content-mini .test-card p {
  color: var(--darkBlue);
}

.card-content {
  background: rgba(255, 255, 255, 0.943);
  padding: 2vh 2vw;
  border-radius: 20px;
  height: 60vh;
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--darkBlue);
}
.card-content p {
  overflow-y: hidden;
  margin-top: 0.6rem;
  line-height: 1.5rem;
}

.test-body {
  width: 20vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.test-body .job-title {
  font-weight: 600;
  min-width: 80%;
  font-size: 1.3rem;
  padding: 0 1rem;
  color: rgb(0, 187, 255);
}

.test-content-mini {
  width: 90vw;
  font-size: 1.15rem;
  padding: 5vh 3vw;
  background: var(--blue);
  display: none;
}

@media screen and (max-width: 650px) {
  .test-card {
    height: 57vh;
  }

  .card-content {
    width: 75vw;
    height: 45vh;
    margin: 2vh 5vw;
  }

  .test-body .skills-img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .test-body {
    width: 60vw;
  }

  .test-content {
    display: none;
  }

  .test-content-mini {
    display: block;
  }
}
