.testimonial-container {
  width: 100%;
  height: auto;
  background: var(--blue);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-content {
  width: 90vw;
  font-size: 1.15rem;
  padding: 5vh 3vw;
  background: var(--blue);
}

.test-card {
  box-sizing: border-box;
  background: var(--blue);
  height: 70vh;
  padding: 2rem;
}

.testimonial-container .test-content .test-card p {
  color: var(--darkBlue);
}

.card-content {
  background: rgba(255, 255, 255, 0.943);
  padding: 2vh 2vw;
  border-radius: 20px;
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--darkBlue);
}

.test-body {
  width: 20vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.test-body .job-title {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0 1rem;
  color: rgb(0, 187, 255);
}
