.container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-container {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 98.75vw;
  height: 4rem;
  background: var(--darkBlue);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-content li {
  list-style-type: none;
  font-size: 1.1rem;
}

.nav-content a {
  text-decoration: none;
}

